// COLORS

// $color-primary-light: ;
$color-primary: #1e033b;

// $color-secondary-light: ;
// $color-secondary: ;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$color-dark: #000000;
$color-light: #fff;
