body {
  margin: 0;
  background-color: #eee;
}

.btn {
  border: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.btn--primary {
  height: 34px;
  padding: 7px 20px;
  border-radius: 5px;
  background-color: rgb(255, 252, 252);
  color: rgb(30, 3, 59);
}
.btn--primary:hover {
  background-color: rgba(255, 252, 252, 0.7);
  color: rgb(30, 3, 59);
}
.btn--round {
  padding: 0;
  border: none;
  border-radius: 50%;
}
.btn--round--150 {
  width: 150px;
  height: 150px;
  font-size: 40px;
}
.btn--round--150#get {
  margin: 20px auto 60px auto;
  background-color: rgba(255, 252, 252, 0.2);
  color: rgb(255, 255, 255);
}
.btn--round--150#get .refresh-button {
  z-index: 100;
  width: 70%;
  height: 70%;
}
.btn--round--150#get:hover .refresh-button {
  color: rgb(30, 3, 59);
}
.btn--round:hover {
  background-color: rgba(255, 252, 252, 0.7);
  color: rgb(30, 3, 59);
  transform: scale(1.2) rotate(360deg);
}
.btn--link {
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(30, 3, 59);
  color: rgb(255, 255, 255);
}
.btn--link:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.btn--link:hover {
  background-color: rgba(255, 252, 252, 0.7);
  color: rgb(30, 3, 59);
}

.countries {
  width: 100%;
}
.countries-title {
  text-transform: uppercase;
}
.countries-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.countries-list .country-flag {
  position: relative;
  display: inline-block;
  font-size: 35px;
  line-height: 35px;
  color: #999;
}
.countries-list .country-flag:hover {
  cursor: default;
}
.countries-list .country-flag:hover .country-name-tooltip {
  visibility: visible;
}
.countries-list .country-name-tooltip {
  /* hide by default */
  visibility: hidden;
  /* style */
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  background-color: rgba(238, 238, 238, 0.7);
  color: #1e033b;
  text-align: center;
  border-radius: 3px;
  padding: 3px 5px;
  /* Position the tooltip */
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
}

.movie-card {
  max-width: 28%;
  background-color: rgb(185, 206, 212);
  padding: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.movie-left {
  width: 40%;
}
.movie-image {
  width: 90%;
  margin: 0;
  margin-bottom: 20px;
  height: max-content;
  background-color: rgba(30, 3, 59, 0.8);
  border-radius: 5px;
  position: relative;
  cursor: default;
}
.movie-image:hover {
  cursor: default;
}
.movie-image:hover:has(.movie-image-caption) {
  cursor: pointer;
}
.movie-image:hover:has(.movie-image-caption) .movie-image-cover {
  filter: blur(3px) brightness(80%);
  cursor: pointer;
}
.movie-image:hover:has(.movie-image-caption) .movie-image-caption {
  font-size: 20px;
  cursor: pointer;
}
.movie-image:hover .movie-image-caption {
  bottom: 50%;
  transform: translateY(50%);
  opacity: 1;
  border-radius: 0;
  cursor: pointer;
}
.movie-image-cover {
  display: block;
  width: 100%;
  border-radius: 5px;
}
.movie-image-caption {
  color: white;
  background-color: rgba(30, 3, 59, 0.7);
  padding: 2%;
  text-transform: uppercase;
  width: 96%;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 1;
  transition: all 0.5s;
}
.movie-image-caption:hover {
  cursor: pointer;
}
.movie-right {
  width: 55%;
}
.movie-info {
  width: 100%;
}
.movie-info h1 {
  text-transform: uppercase;
}
.movie-info h2 {
  font-style: italic;
}
.movie-info .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}
.movie-info .links a.movie-link {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  width: 50%;
  height: 60vh;
  margin: 20vh auto;
  border: 1px solid #1e033b;
  background-color: rgba(30, 3, 59, 0.6);
  box-shadow: 0 5px 8px 0 rgba(30, 3, 59, 0.2), 0 7px 20px 0 rgba(30, 3, 59, 0.2);
  animation: modalopen 2s;
}
.modal-content .modal-header {
  text-transform: uppercase;
  color: #1e033b;
  font-size: 25px;
  height: 15%;
}
.modal-content .modal-header .closeBtn {
  color: #999;
  float: right;
  font-size: 40px;
  padding-top: 10px;
  padding-right: 20px;
  cursor: pointer;
}
.modal-content .modal-header .closeBtn:hover, .modal-content .modal-header .closeBtn:focus {
  color: #1e033b;
  text-decoration: none;
  cursor: pointer;
}
.modal-content .modal-header h3 {
  padding: 20px 30px;
  background-color: #eee;
}
.modal-content .modal-body {
  height: calc(80% - 20px);
  margin-bottom: 20px;
}

@keyframes modalopen {
  from {
    opacity: 0.5;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.offers .movie-offers-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.offers .movie-offers-list .movie-link-offer {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  color: #000000;
  position: relative;
}
.offers .movie-offers-list .movie-link-offer:hover {
  text-decoration: underline;
  text-decoration-color: #333;
  background-color: rgba(30, 3, 59, 0.1);
  border-radius: 5px;
}
.offers .movie-offers-list .movie-link-offer:hover .offer-name-tooltip {
  visibility: visible;
}
.offers .movie-offers-list .movie-link-offer .offer-name-tooltip {
  /* hide by default */
  visibility: hidden;
  /* style */
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  background-color: rgba(238, 238, 238, 0.7);
  color: #1e033b;
  text-align: center;
  border-radius: 3px;
  padding: 3px 5px;
  /* Position the tooltip */
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
}
.offers .movie-offers-list .movie-link-offer:has(.logo-img.logo-physical):hover {
  text-decoration: none;
  color: #000000;
  text-decoration-color: #000000;
}
.offers .movie-offers-list .movie-link-offer .title-link {
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
.offers .movie-offers-list .movie-link-offer .title-link:hover {
  color: #333;
}
.offers .movie-offers-list .movie-link-offer .brand-icon {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}
.offers .movie-offers-list .movie-link-offer .brand-icon .logo-img {
  width: 35px;
  height: 35px;
}
.offers .movie-offers-list .movie-link-offer .brand-icon .logo-img.logo-criterionchannel {
  width: 25px;
  height: 25px;
  margin: 5px;
}
.offers .movie-offers-list .movie-link-offer .brand-icon .logo-img.logo-kanopy, .offers .movie-offers-list .movie-link-offer .brand-icon .logo-img.logo-vudu, .offers .movie-offers-list .movie-link-offer .brand-icon .logo-img.logo-physical {
  width: 20px;
  height: 20px;
}
.offers .movie-offers-list .movie-link-offer .brand-icon .logo-img.logo-physical {
  width: 16px;
  height: 16px;
}
.offers .movie-offers-list .movie-link-offer .brand-icon:has(.logo-img.logo-kanopy, .logo-img.logo-vudu, .logo-img.logo-physical) {
  width: 25px;
  height: 25px;
  margin: 5.5px;
}
.offers .movie-offers-list .movie-link-offer .brand-icon:has(.logo-img.logo-kanopy, .logo-img.logo-physical) {
  background-color: black;
}
.offers .movie-offers-list .movie-link-offer .brand-icon:has(.logo-img.logo-vudu) {
  background-color: #2d6dbe;
}
.offers .movie-link-show_more {
  color: #1e033b;
}
.offers .movie-link-show_more:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #1e033b;
}

.offers-all {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 10px;
  color: white;
  font-size: 36px;
  width: 95%;
  margin: 0 auto 20px auto;
}
.offers-all .movie-link {
  color: white;
  text-decoration: none;
  background-color: rgba(30, 3, 59, 0.7);
  border-radius: 5px;
  padding: 7px 15px;
}
.offers-all .movie-link:hover {
  color: #1e033b;
  background-color: rgba(255, 255, 255, 0.8);
}
.offers-all .movie-link-physical:hover {
  text-decoration: none;
}

.navbar {
  width: 100vw;
  position: fixed;
  padding: 25px 40px;
  background-color: #1e033b;
  color: #f7f7f7;
  border-bottom: 2px solid white;
  z-index: 9999;
}
.navbar form {
  width: 70%;
  display: flex;
  align-items: center;
}
.navbar form label {
  font-size: 40px;
  margin-right: 1%;
}
.navbar form input#f_number {
  width: 10%;
  margin-right: 1%;
  padding: 5px 20px;
  font-size: 30px;
  font-style: italic;
  background-color: rgba(238, 238, 238, 0.3);
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: right;
}
.navbar form input#f_number:focus {
  background-color: #eeeeee;
  color: #1e033b;
  outline-color: #1e033b;
}

.container {
  background-color: rgb(30, 3, 59);
  width: 100vw;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 115px;
  min-height: calc(100vh - 115px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container #response {
  background-color: transparent;
  width: 95%;
  margin: 0 auto 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 20px;
}

/*# sourceMappingURL=main.css.map */
