.movie {
    &-card {
        max-width: 28%;
        // min-height: 30vh;
        background-color: rgb(185, 206, 212);
        padding: 2%;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }

    &-left {
        width: 40%;

        .offers {
            // border: 1px solid red;
            .movie-offers-list {
                // border: 1px solid orange;
                display: flex;
                .movie-link-offer {
                    // border: 1px solid blue;
                    display: inline-block;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    text-decoration: none;
                    color: $color-dark;
                    position: relative;

                    &:hover {
                        text-decoration: underline;
                        text-decoration-color: $color-grey-dark-3;
                        cursor: default;
                    }

                    &:hover span.offer-name-tooltip {
                        visibility: visible;
                    }

                    &:has(.logo-img.logo-physical) {
                        &:hover {
                            text-decoration: none;
                            color: $color-dark;
                            text-decoration-color: $color-dark;
                        }
                    }
                    
                    .title-link {
                        color: $color-dark;
                        font-weight: bold;
                        font-size: 18px;
                        
                        &:hover {
                            color: $color-grey-dark-3;
                        }
                    }

                    .brand-icon {
                        display: block;
                        // margin-right: 5px;
                        width: 35px;
                        height: 35px;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 3px;

                        .logo-img {
                            width: 35px;
                            height: 35px;
                        }
                        .logo-img.logo-criterionchannel {
                            width: 25px;
                            height: 25px;
                            margin: 5px;
                        }
                        .logo-img.logo-kanopy, .logo-img.logo-vudu, .logo-img.logo-physical {
                            width: 20px;
                            height: 20px;
                        }

                        .logo-img.logo-physical {
                            width: 16px;
                            height: 16px;
                        }

                        &:has(.logo-img.logo-kanopy, .logo-img.logo-vudu, .logo-img.logo-physical) {
                            width: 25px;
                            height: 25px;
                            margin: 5.5px;
                        }
                        
                        &:has(.logo-img.logo-kanopy, .logo-img.logo-physical) {
                            background-color: black;
                        }

                        &:has(.logo-img.logo-vudu) {
                            background-color: #2d6dbe;
                        }
                    }
                }
            }
        }
    }

    &-image {
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        height: max-content;
        background-color: rgba($color-primary, 0.8);
        border-radius: 5px;
        position: relative;
        cursor: default;

        &:hover {
            cursor: default;

            &:has(.movie-image-caption) {
                cursor: pointer;

                .movie-image-cover {
                    filter: blur(3px) brightness(80%);
                    cursor: pointer;
                }

                .movie-image-caption {
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }

        &:hover &-caption {
            bottom: 50%;
            transform: translateY(50%);
            opacity: 1;
            border-radius: 0;
            cursor: pointer;
        }

        &-cover  {
            display: block;
            width: 100%;
            border-radius: 5px;
        }

        &-caption {
            color: white;
            background-color: rgba($color-primary, 0.7);
            padding: 2%;
            text-transform: uppercase;
            width: 96%;
            border-radius: 0 0 5px 5px;

            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            opacity: 1;
            transition: all 0.5s;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &-right {
        width: 55%;
    }
    &-info {
        width: 100%;

        h1 {
            text-transform:uppercase;
        }
        h2 {
            font-style: italic;
        }

        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: baseline;

            a.movie-link {
                text-decoration: none;
                font-size: inherit;
                color: inherit;
            }
        }
    }
}
