.movie {
    &-card {
        max-width: 28%;
        // min-height: 30vh;
        background-color: rgb(185, 206, 212);
        padding: 2%;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }

    &-left {
        width: 40%;
    }

    &-image {
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        height: max-content;
        background-color: rgba($color-primary, 0.8);
        border-radius: 5px;
        position: relative;
        cursor: default;

        &:hover {
            cursor: default;

            &:has(.movie-image-caption) {
                cursor: pointer;

                .movie-image-cover {
                    filter: blur(3px) brightness(80%);
                    cursor: pointer;
                }

                .movie-image-caption {
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }

        &:hover &-caption {
            bottom: 50%;
            transform: translateY(50%);
            opacity: 1;
            border-radius: 0;
            cursor: pointer;
        }

        &-cover  {
            display: block;
            width: 100%;
            border-radius: 5px;
        }

        &-caption {
            color: white;
            background-color: rgba($color-primary, 0.7);
            padding: 2%;
            text-transform: uppercase;
            width: 96%;
            border-radius: 0 0 5px 5px;

            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            opacity: 1;
            transition: all 0.5s;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &-right {
        width: 55%;
    }
    &-info {
        width: 100%;

        h1 {
            text-transform:uppercase;
        }
        h2 {
            font-style: italic;
        }

        .links {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: baseline;

            a.movie-link {
                text-decoration: none;
                font-size: inherit;
                color: inherit;
            }
        }
    }
}
